<div class="user-form-container">
    <button class="back-btn" (click)="goBack()">&larr; Back to List</button>
  <h2>{{ isEdit ? 'Edit User' : 'Add User' }}</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>Name</label>
    <input formControlName="name" type="text" />
    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
      Name is required.
    </div>

    <label>Email</label>
    <input formControlName="email" type="email" />
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
      Valid email is required.
    </div>

    <label>Phone</label>
    <input formControlName="phone" type="text" />

    <label>Website</label>
    <input formControlName="website" type="text" />

    <button type="submit" [disabled]="userForm.invalid">{{ isEdit ? 'Update' : 'Add' }} User</button>
  </form>
</div>
